# Database (Prisma Data Platform)
DATABASE_URL="postgres://07af4846ad2112b4e23cca8115cdf6c1643f9566fc33a1d3c138b5f5c1bcb198:sk_3gZlfw3-sG410OT9mWaFu@db.prisma.io:5432/?sslmode=require"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza18zZ1psZnczLXNHNDEwT1Q5bVdhRnUiLCJhcGlfa2V5IjoiMDFLMVNaUlBTV1BRSDhBTURZNFY5OVJORkQiLCJ0ZW5hbnRfaWQiOiIwN2FmNDg0NmFkMjExMmI0ZTIzY2NhODExNWNkZjZjMTY0M2Y5NTY2ZmMzM2ExZDNjMTM4YjVmNWMxYmNiMTk4IiwiaW50ZXJuYWxfc2VjcmV0IjoiNmRlY2Q5Y2ItZDliNy00MDE3LWJhZDgtNDU0NDhmNzBiOWIyIn0.LqGIzskIyel5wV46o42DanOFUNQg-iMp2cdMGts-j_Q"
POSTGRES_URL="postgres://07af4846ad2112b4e23cca8115cdf6c1643f9566fc33a1d3c138b5f5c1bcb198:sk_3gZlfw3-sG410OT9mWaFu@db.prisma.io:5432/?sslmode=require"

# NextAuth
NEXTAUTH_URL="https://your-app.vercel.app"
NEXTAUTH_SECRET="your-nextauth-secret-key"

# File Upload
UPLOAD_DIR="./public/uploads"

# Vercel Postgres (if using Vercel Postgres instead)
# POSTGRES_URL="postgresql://..."
# POSTGRES_PRISMA_URL="postgresql://..."
# POSTGRES_URL_NON_POOLING="postgresql://..."
# POSTGRES_USER="..."
# POSTGRES_HOST="..."
# POSTGRES_PASSWORD="..."
# POSTGRES_DATABASE="..." 